@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}


body {
    text-align: center;
    background: linear-gradient(to bottom, rgb(76, 64, 243), #fff);
    min-height: 100vh;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color:rgb(222, 220, 241);
}

main {
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 20%;
    padding: 10px;
    position: relative;

}

iframe{ 
    position: absolute;
    margin-top: 10%;
    right: 110%;
    
}


.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_gif {
    position: absolute;
    bottom: 52%;
    left: 53%;
    transform: translate(-80%, 20%);
    height: 15%;

}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: rgb(112, 109, 109);
    top: 58.5%;
    right: 30%;
    font-size: clamp(1px, 5vw, 25px);
}

.pokemon_number{
    font-size: 100%;
}

.pokemon_name {
    font-size: 80%;
    color: #252525;
    text-transform: capitalize;
   
}

.form {
    position: absolute;
    width: 60%;
    top: 70%;
    left: 12%;
}

.input_search {
    position: absolute;
    left: 5%;
    width: 100%;
    padding: 5%;
    outline: none;
    border: 5px solid rgb(3, 3, 3);
    border-radius: 5px;
    font-weight: 600;
    color: #578807;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 1px 0 rgb(66, 66, 66), -5px 3px 0 rgb(20, 20, 20)
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 49%;
    width: 60%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #000;
    font-size: 0.9rem;
}