@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}


body {
    text-align: center;
    background: linear-gradient(to bottom, #4c40f3, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    margin-left: 20%;
    padding: 10px;
    position: relative;

}


.pokedex {
    width: 100%;
    max-width: 612px;
}

.pokemon_img {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-80%, 20%);

}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: rgb(112, 109, 109);
    top: 58.5%;
    right: 30%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #252525;
    text-transform: capitalize;
    top: 60.5%;
}


.form {
    position: absolute;
    width: 60%;
    top: 70%;
    left: 12%;
}

.input_search {
    width: 100%;
    padding: 3%;
    outline: none;
    border: 5px solid rgb(3, 3, 3);
    border-radius: 5px;
    font-weight: 600;
    color: #578807;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 1px 0 rgb(66, 66, 66), -5px 3px 0 rgb(20, 20, 20)
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 47%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #000;
    font-size: 0.9rem;
}